[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
main = "python main.py"
test_main = "python -m unittest discover"

[packages]
requests = "*"
urllib3 = ">=1.26.4" # https://pypi.org/project/urllib3/
Pygments = ">=2.7.4" # https://pypi.org/project/Pygments/
protobuf = ">=3.17" # https://pypi.org/project/protobuf/
websocket-client = ">=1.0.1" # https://pypi.org/project/websocket-client/

[dev-packages]
httpie = "*"
faker = ">=8"

[requires]
python_version = "3.9"
